<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_group.description %>
</p>

<p>
  <strong>Is an admin:</strong>
  <%= @user_group.is_an_admin %>
</p>

<p>
  <strong>Is a manager:</strong>
  <%= @user_group.is_a_manager %>
</p>

<%= link_to 'Edit', edit_user_group_path(@user_group) %> |
<%= link_to 'Back', user_groups_path %>
