<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.text_field :first_name,  class:"form-control input-lg", placeholder:"First Name:" %>
    </div>
    <div class="field">
      <%= f.text_field :last_name, class:"form-control input-lg", placeholder:"Last Name:" %>
    </div>
    <div class="field">
      <%= f.text_field :password,  class:"form-control input-lg", placeholder:"Password:"%>
    </div>
    <div class="field">
      <%= f.text_field :password_confirmation,  class:"form-control input-lg", placeholder:"Password Confirmation:" %>
    </div>
    <div class="actions">
      <%= f.submit 'Create User', class:"btn btn-primary btn-lg btn-block" %>
    </div>
<% end %>
