<!--Q: Do I need to add a heading for twitter?-->
<!--<div class="twitter-tag">-->
  <!--<h1 id="my-twitter-heading"><span class="label label-default">This is my Twitter</span></h1>-->
<!--</div>-->
  <div class="panel panel-info">
    <div class="panel-heading">
      <p>
        <span>Signed in as: <b><%= current_user.full_name%></b></span>
        <span class="float-right"> <%=  link_to "Logout", logout_path %>
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        </span>
      </p>
    </div>
  </div>

<%= form_for(@post, remote:true) do|f| %>
    <p align="center">
      <%= f.text_area :message, cols: "50", rows: "4", placeholder:"What's happening?" %>
    </p>
    <div id="word-count-plus-commit-div">
      <div id="words-record-button-div">
        <span id="word-count-span", class="float-left">
          <span id="words-count">140</span>
          <span>characters left!</span>
        </span>
        <span id="create-post-span", class="float-right"><%=f.submit value="Create twitter", Style:"float:right;"%>
        </span>
      </div>
    </div> 
<% end %>
<ol id="posts">
  <%= render @posts %>
</ol>










